@font-face {
    font-family: minecraft;
    src: url(../font/minecraft.otf);
  }
@font-face {
    font-family: comic;
    src: url(../font/comic.ttf);
  }
  .positive {
    color: #00AA00;
  }
  .negative {
    color: #AA0000;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .iron {
    color: #E3E3E3;
  }
  .gold{
    color: gold;
  }
  .diamond{
    color:aqua;
  }
  .obsidian{
    color: #8108E1;
  }